@import '../../../apps/src/variables';

.range-modal {

  .account-selector {
    margin-bottom: 16px;
  }

  .ui--Toggle {

    &.tipToggle {
      &.isChecked {
        .ui--Toggle-Slider {
          background-color: $nomination_blue_color !important;

          &:before {
            border-color: $nomination_blue_color !important;
          }
        }
      }
    }

    &.blue-toggle {
      margin-top: 20px;

      &.isChecked {
        .ui--Toggle-Slider {
          background-color: $nomination_secondary_color !important;

          &:before {
            border-color: $nomination_blue_color !important;
          }
        }
      }

      .ui--Toggle-Slider {
        background-color: $nomination_blue_color !important;

        &:before {
          border-color: $nomination_blue_color !important;
        }
      }

      label {
        color: black;
      }
    }
  }

  h1.ui.header {
    @include h1header;
    margin: 0 0 16px 0;
    display: flex;
    align-items: center;

    .small-help {
      margin-left: 8px;
      svg {
        width: 15px;
      }
    }
  }

  .divider {
    @include divider;
    margin: 16px 0 0 0;
  }

  .range-block {
    margin: 60px 0;
    position: relative;

    .item {
      top: -40px;

      &.left {
        position: absolute;
      }

      &.center {
        position: absolute;
        left: 40%;
        width: 20%;
        text-align: center;
      }

      &.right {
        position: absolute;
        right: 0;
      }
    }

  }

  .info-text-string {
    font-size: 14px;
    line-height: 21px;
    display: block;
    padding: 0 10px;
    margin-top: 18px;

    svg {
      margin-right: 10px;
    }

    .ui--FormatBalance {
      display: inline;
      font-weight: bold;
    }
  }

  .ui--InputAddressMulti {
    margin-top: 18px;
  }

  .render-thumb {
    height: 28px;
    width: 28px;
    background-color: white;
    border: 4px solid #F5CC09;
    border-radius: 14px;
    transform: translate(532px, -11px);
    display: flex;
    justify-content: center;

    &:active, &:focus, &:hover {
      border-radius: 14px;
    }

    img {
      width: 50%;
    }
  }

  .render-track {
    height: 12px;
    width: 100%;
    background: linear-gradient(270deg, #EF4040 0%, rgba(245, 222, 0, 0.994583) 54.17%, rgba(109, 239, 64, 0.99) 100%);
    border-radius: 62px;

    .render-track-inner {
      transform: translate(0px, 3px) !important;
      width: calc(100% - 6px);
      background: white;
      height: 6px;
      margin: 0 3px;
      border-radius: 62px;
    }
  }

  .ui.secondary.button {
    @include secondary;
  }

  .ui.primary.button {
    @include primary;
  }

  .ui.primary.button {
    @include primary;

    svg {
      margin-left: 10px;
    }
  }

  .ui.icon.primary.button {
    @include primary;
  }

  .ui.icon.primary.button {
    @include primary;

    svg {
      margin-left: 10px;
    }
  }
}
