@import '../../../apps/src/variables';

.range-modal {

  .ui--Toggle {

    &.tipToggle {
      &.isChecked {
        .ui--Toggle-Slider {
          background-color: $nomination_blue_color !important;

          &:before {
            border-color: $nomination_blue_color !important;
          }
        }
      }
    }

    &.blue-toggle {
      margin-top: 20px;

      &.isChecked {
        .ui--Toggle-Slider {
          background-color: $nomination_secondary_color !important;

          &:before {
            border-color: $nomination_blue_color !important;
          }
        }
      }

      .ui--Toggle-Slider {
        background-color: $nomination_blue_color !important;

        &:before {
          border-color: $nomination_blue_color !important;
        }
      }

      label {
        color: black;
      }
    }
  }

  h1.ui.header {
    @include h1header;
    margin: 0 0 16px 0;
    display: flex;
    align-items: center;

    .small-help {
      margin-left: 8px;
      svg {
        width: 15px;
      }
    }
  }

  .divider {
    @include divider;
    margin: 16px 0 0 0;
  }

  .range-block {
    margin: 50px 65px;

    .item {
      margin-top: 10px;

      &.left {
        position: absolute;
        left: 20px;
      }

      &.right {
        position: absolute;
        right: 10px;
      }
    }

  }

  .info-text-string {
    font-size: 14px;
    line-height: 21px;
    display: block;
    padding: 0 10px;
    margin-top: 18px;

    svg {
      margin-right: 10px;
    }

    .ui--FormatBalance {
      display: inline;
      font-weight: bold;
    }
  }

  .ui--InputAddressMulti {
    margin-top: 18px;
  }

  .render-thumb {
    height: 28px;
    width: 28px;
    background-color: white;
    border: 4px solid rgb(0, 135, 203);
    border-radius: 14px;
    transform: translate(532px, -11px);
    display: flex;
    justify-content: center;

    img {
      width: 50%;
    }
  }

  .render-track {
    height: 12px;
    width: 100%;
    background: linear-gradient(180deg, #1E80B7 0%, #71B8E1 53.12%, rgba(255, 255, 255, 0) 100%);
    border-radius: 62px;
    border: 3px solid $nomination_light_blue_color;
  }

  .range-header {
    position: absolute;
    display: flex;
    width: 160px;
    word-break: keep-all;
    white-space: nowrap;
    font-size: 14px !important;
    background-color: $nomination_light_blue_color;
    border-radius: 4px;
    color: white !important;
    padding: 0 10px;
    justify-content: center;
    top: -40px;
    left: -71;
    line-height: 21px;

    .small-help {
      display: flex;
      align-items: center;
      margin-left: 8px;
    }

    .range-polygon {
      position: absolute;
      width: 14px;
      height: 9px;
      left: 73px;
      top: 17px;
    }
  }
  .ui.secondary.button {
    @include secondary;
  }

  .ui.primary.button {
    @include primary;
  }

  .ui.primary.button {
    @include primary;

    svg {
      margin-left: 10px;
    }
  }

  .ui.icon.primary.button {
    @include primary;
  }

  .ui.icon.primary.button {
    @include primary;

    svg {
      margin-left: 10px;
    }
  }
}
