.nft-details {

  &.ui.modal {

    .actions {
      padding: 1rem !important;
    }
  }

  .content {
    display: flex;
    flex-direction: column;

    .token-image {
      height: 200px;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        height: 80%;
      }
    }
  }

  .token-info {
    padding: 1.5rem 0;
  }

  h4.ui.header {
    margin: 1.5rem 0;
  }

  .attributes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
