$nomination_light_gray_color: #E4E4E4;

.manage-nomination-actions {
  font-family: 'Roboto', sans-serif;
  background: #FFFFFF;
  border: 1px solid $nomination_light_gray_color;
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  padding: 10px 18px;

  .account-block {
    border-bottom: 1px solid $nomination_light_gray_color;
    padding: 10px 5px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .result .ui--FormatBalance {
    display: flex;
    align-items: center
  }

  .thead {

    &.white-block {
      margin: 0;
      padding: 0 30px 10px 30px;
      border-bottom: 2px solid $nomination_light_gray_color;

      .ui--FormatBalance {
        font-size: 14px;
        line-height: 14px;
        font-weight: 400;
      }

      .small {
        font-size: 12px;
        line-height: 12px;
      }

      &.with-footer {
        margin-top: 0;
      }
    }
  }

  .white-block.with-footer {
    margin-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: none;
    display: grid;
    grid-template-columns: 20px 170px 170px 1fr;
    column-gap: 10px;
    align-items: center;
  }

  .stakes.table {

  }

  .footer-row {
    background: #F1F1F1;
    border-radius: 0 0 3px 3px;
    padding: 8px 15px;
    border-left: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    display: flex;

    .ui.button {
      &.footer-button {
        padding: 0 16px;
        font-size: 14px;
        line-height: 24px;
        margin: 0 8px;
      }
    }
  }

  .table {
    .thead {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 22px;
      display: grid;
      grid-template-columns: 170px 1fr 200px;
      column-gap: 10px;
      text-align: left;
      align-items: center;
    }
    .tbody {
      overflow-y: auto;
      overflow-x: hidden;
      min-height: 122px;
      max-height: 500px;
    }
  }

  .toggle-accordion {
    color: black;
    font-size: 25px;
    line-height: 25px;
    text-align: right;

    .right {
      transform: rotate(270deg);
    }
  }

  .accordion {
    display: grid;
    position: relative;

    .with-bottom-border {
      border-bottom: 1px solid #0000002e;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .item {
      margin: 0 10px;
    }
  }

  .accordion-header {
    display: grid;
    grid-template-columns: 1fr 37px;
  }

  .accordion-body-inner {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .accordion-body {
    display: flex;
    min-height: 30px;
    flex-direction: column;
  }

  .column.accordion {
    background: #FFFFFF;
    padding: 9px 16px;
    border-left: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;

    font-family: 'Roboto';

    h4 {
      font-size: 18px;
      line-height: 21px;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: normal;
    }

    .ui--AddressMini {
      &.padded {
        padding: 8px 0;
      }
    }
  }

  .ui--Button-Group {
    display: inline-block;
  }
}
