@import '../../../apps/src/variables';

.manage-nomination-actions {
  font-family: 'Roboto', sans-serif;
  background: #FFFFFF;
  border: 1px solid $nomination_light_gray_color;
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  padding: 10px 18px;

  .account-block {
    border-bottom: 1px solid $nomination_light_gray_color;
    padding: 10px 0;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .result .ui--FormatBalance {
    display: flex;
    align-items: center
  }

  .thead {

    &.white-block {
      margin: 0;
      border-bottom: 2px solid $nomination_light_gray_color;

      .column {
        &:first-child {
          padding-left: 30px;
        }

        &:last-child {
          padding-right: 30px;
        }
      }

      &.with-footer {
        margin-top: 0;
      }
    }
  }

  .white-block {
    .ui--FormatBalance {
      font-size: 14px;
      line-height: 14px;
      font-weight: bold;
    }

    .small {
      font-size: 12px;
      line-height: 12px;
      font-weight: 400;
      opacity: 0.6;
    }
  }

  .white-block.with-footer {
    margin-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: none;
    display: grid;
    grid-template-columns: 242px 200px 150px 130px;
    column-gap: 10px;
    align-items: center;

    .toggle-accordion {
      margin-right: 16px;
      margin-left: 2px;
    }
  }

  .footer-row {
    background: #F1F1F1;
    padding: 8px 15px;
    border-radius: 4px;
    display: flex;

    .ui.button {
      &.footer-button {
        padding: 0 15px;
        font-size: 14px;
        line-height: 24px;
        margin: 0 8px;
        display: flex;
        align-items: center;
      }

      &.warning {
        background-color: $nomination_warning_color;
        color: white;

        .small-help {
          margin: 0 !important;
        }

        svg {
          margin: 0 5px;
        }
      }
    }
  }

  .info-row {
    display: flex;
    padding: 16px 40px 12px 40px;

    .item {
      display: flex;
      font-weight: bold;
      font-size: 12px;

      .ui--FormatBalance {
        margin-left: 5px;
        font-weight: normal;
        opacity: 0.7;
        margin-right: 10px;

        button {
          padding: 0 5px;
        }
      }
    }
  }

  .table {
    .thead {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 22px;
      display: grid;
      grid-template-columns: 242px 200px 150px 130px;
      column-gap: 10px;
      text-align: left;
      align-items: center;
    }
    .tbody {
      overflow-y: auto;
      overflow-x: hidden;
      min-height: 122px;
      max-height: 500px;
    }

    &.stakes {
      padding: 16px 9px 0 9px;

      .thead {
        grid-template-columns: 1fr 120px 120px 100px 100px;
        height: 50px;
        padding: 0 8px;
        border-bottom: 2px solid $nomination_light_gray_color;
      }

      .tbody {
        min-height: 0;
        max-height: none;

        h4 {
          font-size: 14px;
          font-weight: bold;
          color: black;
          margin: 8px 0 0 0;
          padding: 0 8px;
        }

        .account-block {
          display: grid;
          grid-template-columns: 1fr 120px 120px 100px 100px;
          column-gap: 10px;
          align-items: center;
          padding: 0 8px;

          &:last-child {
            border-bottom: none;
          }
        }
      }
    }
  }

  .toggle-accordion {
    color: black;
    font-size: 25px;
    line-height: 25px;
    text-align: right;

    img {

      &.open {
        transform: rotate(90deg);
      }
    }
  }

  .accordion {
    display: grid;
    position: relative;

    .with-bottom-border {
      border-bottom: 1px solid #0000002e;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .item {
      margin: 0 10px;
    }
  }

  .accordion-header {
    display: grid;
    grid-template-columns: 1fr 37px;
  }

  .accordion-body-inner {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .accordion-body {
    display: flex;
    min-height: 30px;
    flex-direction: column;
  }

  .column.accordion {
    background: #FFFFFF;
    padding: 9px 16px;

    font-family: 'Roboto';

    h4 {
      font-size: 18px;
      line-height: 21px;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: normal;
    }

    .ui--AddressMini {
      &.padded {
        padding: 8px 0;
      }
    }
  }

  .ui--Button-Group {
    display: inline-block;
  }

  .unbonding {

    svg {
      margin-left: 10px;
    }
  }

  .withdraw {
    display: flex;

    button {
      padding: 0;
      background: transparent !important;
      color: black !important;
      margin-left: 10px;
    }
  }
}
