.nft-details {
  .content {
    display: flex;
    flex-direction: column;

    .token-image {
      height: 200px;
      background-color: #A2DD18;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        height: 80%;
      }
    }
  }
}
