@font-face {
  font-family: 'Roboto';
  src: url('./fonts/roboto/Roboto-Thin.woff2') format('woff2'), url('./fonts/roboto/Roboto-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Thin';
  src: url('./fonts/roboto/Roboto-Thin.woff2') format('woff2'), url('./fonts/roboto/Roboto-Thin.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/roboto/Roboto-ThinItalic.woff2') format('woff2'), url('./fonts/roboto/Roboto-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto-ThinItalic';
  src: url('./fonts/roboto/Roboto-ThinItalic.woff2') format('woff2'), url('./fonts/roboto/Roboto-ThinItalic.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/roboto/Roboto-Light.woff2') format('woff2'), url('./fonts/roboto/Roboto-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Light';
  src: url('./fonts/roboto/Roboto-Light.woff2') format('woff2'), url('./fonts/roboto/Roboto-Light.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/roboto/Roboto-LightItalic.woff2') format('woff2'), url('./fonts/roboto/Roboto-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto-LightItalic';
  src: url('./fonts/roboto/Roboto-LightItalic.woff2') format('woff2'), url('./fonts/roboto/Roboto-LightItalic.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/roboto/Roboto-Regular.woff2') format('woff2'), url('./fonts/roboto/Roboto-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url('./fonts/roboto/Roboto-Regular.woff2') format('woff2'), url('./fonts/roboto/Roboto-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/roboto/Roboto-RegularItalic.woff2') format('woff2'), url('./fonts/roboto/Roboto-RegularItalic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto-RegularItalic';
  src: url('./fonts/roboto/Roboto-RegularItalic.woff2') format('woff2'), url('./fonts/roboto/Roboto-RegularItalic.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/roboto/Roboto-Medium.woff2') format('woff2'), url('./fonts/roboto/Roboto-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url('./fonts/roboto/Roboto-Medium.woff2') format('woff2'), url('./fonts/roboto/Roboto-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/roboto/Roboto-MediumItalic.woff2') format('woff2'), url('./fonts/roboto/Roboto-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto-MediumItalic';
  src: url('./fonts/roboto/Roboto-MediumItalic.woff2') format('woff2'), url('./fonts/roboto/Roboto-MediumItalic.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/roboto/Roboto-Bold.woff2') format('woff2'), url('./fonts/roboto/Roboto-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('./fonts/roboto/Roboto-Bold.woff2') format('woff2'), url('./fonts/roboto/Roboto-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/roboto/Roboto-BoldItalic.woff2') format('woff2'), url('./fonts/roboto/Roboto-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto-BoldItalic';
  src: url('./fonts/roboto/Roboto-BoldItalic.woff2') format('woff2'), url('./fonts/roboto/Roboto-BoldItalic.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/roboto/Roboto-Black.woff2') format('woff2'), url('./fonts/roboto/Roboto-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Black';
  src: url('./fonts/roboto/Roboto-Black.woff2') format('woff2'), url('./fonts/roboto/Roboto-Black.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/roboto/Roboto-BlackItalic.woff2') format('woff2'), url('./fonts/roboto/Roboto-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto-BlackItalic';
  src: url('./fonts/roboto/Roboto-BlackItalic.woff2') format('woff2'), url('./fonts/roboto/Roboto-BlackItalic.woff') format('woff');
}

@import './variables.scss';

* {
  font-family: Roboto, Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

body {
  color: #000000;
}

.nomination-stand-alone {
  box-sizing: border-box;
  margin: 0 auto;
  min-height: 100vh;
  padding: 10px;

  h1.ui.header {
    @include h1header;
    margin: 30px 0;
  }

  h2.ui.header {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    color: #000000;
  }

  .ui--LabelHelp {
    cursor: help;
    display: inline-block;
    line-height: 1rem;
    margin: 0 0 0 0.25rem;
    vertical-align: middle;

    &.small-help {
      svg {
        width: 15px;
      }
    }
  }

  .nomination-card {
    background: #FFFFFF;
    border: 1px solid #E4E4E4;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    padding: 24px;
  }

  .warning-block {
    width: 100%;
    color: $nomination_warning_color;
    background-color: $nomination_warning_light_color;
    border: 1px solid rgba(202, 96, 20, 0.2);
    border-radius: 4px;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    flex-direction: column;
    padding: 8px 16px;
    margin: 8px auto;
  }

  .error-block {
    color: $nomination_error_color;
    background-color: $nomination_error_light_color;
    border: 1px solid rgba(202, 20, 20, 0.2);
    border-radius: 4px;
    font-size: 14px;
    line-height: 24px;
    padding: 8px 16px;
    text-align: center;
    margin: 8px 0;
  }

  .available-balance {
    color: #000000;

    .ui--FormatBalance-value {
      font-weight: bold;
      font-size: 40px;
      line-height: 60px;
    }
  }

  .divider {
    @include divider;
  }

  .ui.secondary.pointing.menu {
    border: none;
    box-shadow: 0px 4px 10px -4px rgba(0, 0, 0, 0.15);

    .center {
      width: 800px;
      display: flex;
      margin: 0 auto;
    }

    .right.menu {
      .item {
        margin-right: 0;
      }
    }

    .item {
      padding: 1em 0;
      margin-right: 2em;

      a {
        color: black;
      }

      &.active {
        border-color: $nomination_blue_color;

        a {
          color: $nomination_blue_color;
        }
      }
    }
  }

  .nomination-app {
    width: 800px;
    margin: 0 auto;
  }

  .connecting {
    width: 800px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }

  .success {
    color: #39C707;
  }

  a.telegram-notification {
    background-color: $nomination_blue_color;
    border-radius: 4px;
    padding: 0 10px;
    display: block;
    height: 24px;
    color: white !important;

    img {
      width: 24px;
      height: 24px;
      vertical-align: middle;
    }
  }

  .ui.secondary.button {
    @include secondary;
  }

  .ui.primary.button {
    @include primary;
  }

  .ui.icon.primary.button {

    svg {
      margin-left: 10px;
    }
  }

  .button-block {
    &.right {
      margin-top: 30px;
      text-align: right;
    }
  }

  .ui--AddressMini {
    display: inline-block;
    padding: 0 0.25rem 0 1rem;
    text-align: left;
    white-space: nowrap;

    &.padded {
      display: inline-block;
      padding: 0 1rem 0 0;
    }

    &.summary {
      position: relative;
      top: -0.2rem;
    }

    .ui--AddressMini-info {
      max-width: 12rem;
      min-width: 12rem;

      @media only screen and (max-width: 1800px) {
        max-width: 11.5rem;
        min-width: 11.5rem;
      }

      @media only screen and (max-width: 1700px) {
        max-width: 11rem;
        min-width: 11rem;
      }

      @media only screen and (max-width: 1600px) {
        max-width: 10.5rem;
        min-width: 10.5rem;
      }

      @media only screen and (max-width: 1500px) {
        max-width: 10rem;
        min-width: 10rem;
      }

      @media only screen and (max-width: 1400px) {
        max-width: 9.5rem;
        min-width: 9.5rem;
      }

      @media only screen and (max-width: 1300px) {
        max-width: 9rem;
        min-width: 9rem;
      }
    }

    .ui--AddressMini-address {
      overflow: hidden;
      text-align: left;
      text-overflow: ellipsis;
      width: fit-content;
      max-width: inherit;

      > div {
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    &.withShrink {
      .ui--AddressMini-address {
        min-width: 3rem;
      }
    }

    .ui--AddressMini-label {
      margin: 0 0 -0.5rem 2.25rem;
    }

    .ui--AddressMini-balances {
      display: grid;

      .ui--Balance,
      .ui--Bonded,
      .ui--LockedVote {
        font-size: 0.75rem;
        margin-left: 2.25rem;
        margin-top: -0.5rem;
        text-align: left;
      }
    }

    .ui--AddressMini-icon {
      margin: 0 0.5rem 0 0;

      .ui--AddressMini-icon-info {
        position: absolute;
        right: -0.5rem;
        top: -0.5rem;
        z-index: 1;
      }

      .ui--IdentityIcon {
        margin: 0;
        vertical-align: middle;
      }
    }

    .ui--AddressMini-icon,
    .ui--AddressMini-info {
      display: inline-block;
      position: relative;
      vertical-align: middle;
    }

    .ui--AddressMini-summary {
      font-size: 0.75rem;
      line-height: 1.2;
      margin-left: 2.25rem;
      margin-top: -0.2rem;
      text-align: left;
    }
  }
}

@media (max-width: 800px) {
  .telegram-notification {
    height: auto;
    text-align: center;
  }
}
