$nomination_blue_color: #0087cb;
$nomination_light_blue_color: #40B0EF;
$nomination_warning_color: #CA6014;
$nomination_warning_light_color: #F7F2EE;
$nomination_error_light_color: #F8EFEF;
$nomination_error_color: #CA1414;
