.trade-container {
  width: 100%;
  margin: 1rem 0;

  .steps {
    width: 100%;

    &.ui.ordered {
      .step.completed:before, .ui.steps .step.completed .icon:before {
        color: #a2dd18;
      }
    }
  }
}
